@font-face {
  font-family: "alex murphy solid";
  src: url("./font/alex_murphy_solid.ttf");
  /* font-weight: 300; */
}

@font-face {
  font-family: "thrasher";
  src: url("./font/Sword\ Thrasher.ttf");
  /* font-weight: 300; */
}
